
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    flex: 0 0 200px;
    background-color: #0078D4;
    color: white;
    padding: 20px;
    max-width: 200px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.menu-top{
    width: 100%;
    height: 60px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
}

.newemail-item{
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 1px;
    cursor: pointer;
}
.newemail-item:hover {
    background-color: #004578;
}

.menu-item-h2 {
    cursor: pointer;

}
.menu-item-h2:hover{
    background-color: #004578;
}
.menu-item {
    margin-bottom: 20px;
    margin-top: 30px;
}


.menu-item .sub-menu {
    margin-left: 20px;
    overflow: hidden;
}

.menu-item .sub-menu-item {
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}

.folder-list {
    margin-bottom: 20px;
}

.folder-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: white;
}

.folder-item:hover {
    background-color: #004578;
}

.folder-item-click{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: white;
    background-color: #004578;
}
.preview-contain{
    flex: 0 1 auto;
    background-color: #f2f2f2;

    position: relative;

}
.preview {
    flex: 0 1 auto;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    width: 300px;
    max-width: 500px;
    min-width: 200px;
    height: 100%;
}


.content {
    flex: 1;
    padding: 20px;
    margin-right: 80px;
}

.email-list {
    margin-bottom: 20px;
}

.email-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.email-item:hover {
    background-color: #eaeaea;
}

.email-preview {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.email-preview:hover {
    background-color: #eaeaea;
}

.email-preview-click {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background-color: #cccccc;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.rotate-animation {
    animation: rotateAnimation 2s infinite linear;
}

.refresh-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 30px;
    color: #0078D4;
}

.contact-details{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
}

.icon-item{

}
.icon-img{
    width: 50px;
    height: 50px;
}


.img_button{
    width: 30px;
    height: 30px;
    margin-right: 0px;
}
.email-content {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
}

.email-content .header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.email-content .body {
    line-height: 1.5;
}
.connect-button {
    margin-top: 200px;
    background-color: #004578;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.connect-button:hover {
    background-color: #00325b;
}

.resizer {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize;
    background-color: #ccc;
    z-index: 1;
}

.content_top{
    display: flex;
}
.content_top div{
    margin-left: auto;
    margin-right: 20px;
    display: flex;
}

.menu-button{
    padding: 5px 10px 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu-button:hover{
    background-color: #eaeaea;
}



.header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.subject {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.sender, .recipient {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
}

.sub-content {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.timestamp {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.body {
    line-height: 1.5;
}


.contact-list {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
}

.contact-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: black;
    cursor: pointer;
}

.contact-item:hover {
    background-color: #004578;
}

.input-item{
    border: none;
    outline: none;
    backgroundColor: transparent;
    cursor: auto;
}

.input-item-edit{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.error-input {
    width: 50%;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
    transition: border-color 0.5s ease-in-out;
}
.progress-bar {
    width: 400px;
    height: 3px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    overflow: hidden;
    margin-top: 15px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.state{
    font-size: 10px;
    margin-left: 20px;
    margin-top: 7px;
}
