.mint-content{
    position: absolute;
    top: 0;
    left: 240px;
    width: calc(100% - 240px);
    min-height: 100%;

    z-index: 3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.search-container{
    width: 100%;
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.title h2{
    margin-top: 0;
}

.search-box {
    display: flex;
    align-items: center;
    width: 500px;
    padding: 10px;
    /*background-color: #f1f1f1;*/
    border-radius: 20px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
    height: 30px;
    justify-content: center;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;

}

.search-button {
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0;
    margin-left: 10px;
}

.table-container {
    /*background-color: white;*/
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    /*background-color: #f2f2f2;*/
}

tr:nth-child(even) {
    /*background-color: #f2f2f2;*/
}

.tip-image{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.tip-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-button{
    background-color: rebeccapurple;
    color: white;
    border-radius: 20px;
    padding: 15px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-size: 15px;
}
